body {
  max-width: 640px;
  padding: 1em;
  font-size: 1.2em;
  line-height: 1.3;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
}

h2 {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 2em;
  padding-left: 1.2em;
}

ul > ul {
  margin-bottom: 0.8em;
}

li {
  margin-bottom: 0.4em;
}

@media only screen and (max-device-width: 480px) {
  body {
    max-width: 480px;
    margin: 0 auto;
    font-size: 17px;
  }

  ul {
    padding-left: 1.3em;
  }

  ul > ul {
    padding-left: 0;
    list-style-type: none;
  }
}
