@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  max-width: 480px;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: auto;
}

main {
  padding: 2%;
}

header {
  display: flex;
}

.button_container {
  margin-left: auto; 
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_donate {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 0;
  background-color: black;
  cursor: pointer;
}

.header_language {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 0;
  background-color: #0097DC;
  font-weight: bold;
  font-size: large;
  color: white;
  cursor: pointer;
}

.genesis {
  max-width: 480px;
  border-radius: 30px;
  padding: 1px 30px;
  margin-top: 30px;
  background-color: #F0FBFF;
  text-align: left;
}

.about {
  max-width: 480px;
  border-radius: 30px;
  padding: 1px 30px;
  margin-top: 15px;
  background-color: #F5F5F5;
  text-align: left;
}

.documents {
  max-width: 480px;
  border-radius: 30px;
  padding: 1px 30px;
  margin-top: 15px;
  background-color: #F0FBFF;
  text-align: left;
}

.title {
  text-transform: uppercase;
  color: #0097DC;
  font-weight: 500;
}

.bold {
  font-weight: 600;
  font-size: large;
}

.img_community {
  margin-top: 15px;
}

.maintitle {
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  margin: 15px 0 0 10px;
}

.black {
  font-weight: bold;
}

.blue {
  color: #0097DC;
}

hr {
  height: 3px;
  background-color: white;
  border: none;
  margin: 10px 0;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 2em;
  padding-left: 1.2em;
}

ul > ul {
  margin-bottom: 0.8em;
}

li {
  margin-bottom: 0.4em;
}

a {
  color: #007cc5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #005c92;
}
